@import "tailwindcss";


:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #e11d48;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}



body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}



body > * {
  pointer-events: auto;
}



a {
  text-decoration: none;
  color: inherit;
}



button {
  cursor: pointer;
}